:root {
  --labelColor: rgb(126, 252, 177);
  --fetchDataColor: rgb(201, 72, 38);
}

.socketBox {
  width: auto;
  position: relative;
  vertical-align: top;
  border: 1px solid rgb(126, 252, 177);
  padding: 13px;
  color: rgb(126, 252, 177);
  height: auto;
  overflow-x: scroll;
  width: 33%;
  display: inline-block;
  border-radius: 3px;
  margin: 3px;
}

.fetchBox {
  color: var(fetchDataColor);
}

.label {
  color: var(--labelColor);
}

#heartbeat {
  color: rgb(250, 35, 74);
}
#ticker {
  color: rgb(0, 190, 93);
}
