:root {
  --labelColor: rgb(16, 0, 79);
}

.socketBox {
  width: auto;
  position: relative;
  vertical-align: top;
  border: 1px solid rgb(126, 252, 177);
  padding: 13px;
  background-color: white;
  height: auto;
  overflow-x: scroll;
  width: 33%;
  display: inline-block;
  border-radius: 3px;
  margin: 3px;
}

.fetchBox {
  color: #2107c3;
}

.label {
  color: var(--labelColor);
}

#heartbeat {
  color: rgb(250, 35, 74);
}
#ticker {
  color: rgb(0, 190, 93);
}
